---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="font-heading uppercase text-5xl text-primary p-10">Heading font check</h1>
  <p class="font-sans text-foreground p-10">Body font check</p>
</Layout>
